<% if @session != nil %>
	<%= @session.random%>
    <%=render :partial => "video"%>
    <div id="chat">
        <%=render :partial=>"chat" %>
    </div>
    <%=render :partial => "textedit"%>
    <%=render :partial => "lang"%>
<% else %>
	You need to start an interview first!
<% end %>
