<div id="settings-container">
	<div id="settings">
<h1>You are interviewing with <%= @session.interviewer %> from <%= @session.company %>.</h1>
<h2>Good luck!</h2>
	<%= simple_form_for(@interviewee_session, :html => { :class => 'form-horizontal' }) do |f| %>
	  <%= f.input :name, label: "your name" %>
	  <%= f.input :random, :as => :hidden, :input_html => { :value => @random } %>
	  <div class="form-actions">
	    <%= f.button :submit, "connect", :class => 'btn btn-primary' %>
	  </div>


	<% end %>
	</div>
</div>