<%= @interviewee_session.random %>
<%= @interviewee_session.room.name %>
<div class="row">
    <div class="span-two-thirds">
        <%= render :partial=>"textedit" %>
    </div>
    <div class="span-one-third">
        <%= render :partial=>"video" %>
        <%= render :partial=>"lang" %>
        <%= render :partial=>"chat" %>
    </div>
</div>
